@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');

.main-container {
	width: fit-content;
	font-family: Lato;
}

.main-container .presence {
	margin-bottom: 8px;
}

.editor-container {
	--ckeditor5-preview-sidebar-width: 270px;
	--ckeditor5-preview-height: 700px;
}

.editor-container .ck.ck-content {
	word-break: break-word;
}

.editor-container__editor-wrapper {
	display: flex;
	width: fit-content;
}

.editor-container--document-editor {
	border: 1px solid var(--ck-color-base-border);
}

.editor-container--document-editor .editor-container__toolbar {
	display: flex;
	position: relative;
	box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.078);
}

.editor-container--document-editor .editor-container__toolbar > .ck.ck-toolbar {
	flex-grow: 1;
	width: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.editor-container--document-editor .editor-container__menu-bar > .ck.ck-menu-bar {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.editor-container--document-editor .editor-container__editor-wrapper {
	max-height: var(--ckeditor5-preview-height);
	min-height: var(--ckeditor5-preview-height);
	overflow-y: scroll;
	background: var(--ck-color-base-foreground);
}

.editor-container--document-editor .editor-container__editor {
	margin-top: 28px;
	margin-bottom: 28px;
	height: 100%;
	min-width: 210mm;
	max-width: 210mm;
}

.editor-container--document-editor .editor-container__editor .ck.ck-content {
	box-sizing: border-box;
	min-height: 297mm;
	height: fit-content;
	padding: 20mm 12mm;
	border: 1px hsl(0, 0%, 82.7%) solid;
	border-radius: 4px;
	background: hsl(0, 0%, 100%);
	box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.078);
	flex: 1 1 auto;
	margin-left: 72px;
	margin-right: 72px;
}

.editor-container__sidebar {
	transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	min-width: var(--ckeditor5-preview-sidebar-width);
	max-width: var(--ckeditor5-preview-sidebar-width);
	margin-top: 28px;
	margin-left: 10px;
	margin-right: 10px;
}

.editor-container__sidebar-navigation {
	cursor: pointer;
}

.editor-container--include-outline.editor-container--include-annotations .editor-container__editor .ck.ck-content {
	margin-left: 0;
	margin-right: 0;
}

.revision-history {
	display: none;
}

.revision-history__wrapper {
	display: flex;
}

.revision-history__wrapper .ck.ck-editor {
	margin: 0;
	width: 795px;
}

.revision-history__wrapper .revision-history__sidebar {
	border: 1px solid var(--ck-color-base-border);
	border-left: 0;
	width: var(--ckeditor5-preview-sidebar-width);
	min-height: 100%;
}

.revision-history__wrapper .revision-history__sidebar .ck-revision-history-sidebar {
	height: 100%;
}
